@import './estilos-detalle.css';
@import './estilos-editar-tareas.css';
@import './estilos-tareas-profesor.css';
@import './estilos-tareas.css';
@import './estilos-revisar-tareas.css';
@import './estilos-profesor.css';
@import './panel.css';
@import './styles.css'